<li class="active">

  <span class="user"><img src="http://placehold.it/77x77"></span>

  <div class="user-container">
      <div class="user-flex">
          <div class="user-info user-default">

              <span class="name"><%= fName %> <%= lName %></span>
              <span class="title"><%= title %></span>
              <span class="bell"><i class="icon-bell"></i></span>
          </div>
          <div class="user-info user-details">
              <span class="email"><%= email %></span>
              <span class="phone"><%= phone %></span>
              <span class="close"><i class="icon-close"></i></span>
          </div>
      </div>
  </div>
</li>
