.user-login {
    height: 422px;
    width: 100%;
    position: relative;
    padding-top: 78px;
    text-align: center;
    background: rgba(0,0,0,.8);

    h2 {
        font-size: $font20;
        color: white;
        display: none;
        a {
            text-decoration: none;
            color: white;
        }
    }

    h3 {
        color: white;
        text-transform: uppercase;
        font-family: $fontDefault;
    }

    input {
        padding: 10px;
        width: 40%;
        clear: both;
        display: block;
        margin: 5px auto;
    }

    input[type='submit'] {
        clear: both;
        width: 48%;
        margin: 0 auto;
        padding: 10px;
        background-color: #333;
        color: white;
        border: 0px;
        display: block;
        text-transform: uppercase;
        font-family: $fontDefault;
    }

    .user-signup-screen,
    .user-login-screen {
        display: none;
    }

    .logout {
        padding-top: 69px;
        h3 {
            font-size: $font20;
            color: white;
        }
        display: none;
    }


}
