.main-container {
    padding: 20px 0;
    text-align: center;

    h1 {
        margin: 0;
        padding: 10px 0;
        color: $dark-theme-primary-color;
        font-weight: 100;
        text-transform: uppercase;
        font-size: $font60;
        @include alpha-attribute('background-color', rgba(black, 0.8), white);
        position: fixed;
        top: 0;
        width: 100%;
        max-height: 119px;
        min-height: 119px;
        span {
            display: inline-block;
            font-size: $font10;
            position: relative;
            top: -65px;
            font-weight: 500;
        }
    }

    .landing {
        width: 100%;
        height: 67%;
        position: absolute;
        top: 119px;
        left: 0;
        z-index: 99;
        background: $sapient-primary-red url(../../assets/images/sapient-logo.png) center 50% no-repeat;
    }

    .section {
        width: 100%;
        height: 72.2%;
        position: absolute;
        top: 139px;
        z-index: 99;
        display: none;
        overflow-y: auto;
    }

    .directory {
        height: 56%;
        padding-bottom: 84px;
        @include alpha-attribute('background-color', rgba(white, 1), white);

        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                display: block;
                width: 100%;
                clear: both;
                float: left;
                margin: 0 0 -3px 0;
                cursor: pointer;
                position: relative;

                &.active {
                    background-color: #262626;
                    color: #fff;
                    .user {
                        border-right: 10px solid #34b934;
                    }
                }

                &.inactive {
                    background-color: #262626;
                    color: #fff;
                    .user {
                        border-right: 10px solid #ff0000;
                    }
                }

                &.active-new {
                    background-color: #eeeeee;
                    .user {
                        border-right: 10px solid #34b934;
                    }

                    &:hover {
                        background-color: #393939;
                        color: #fff;
                    }
                }

                &:hover {
                    background-color: #393939;
                    color: #fff;
                }

                .user-container {
                    overflow: hidden;
                    width: 66%;
                    float: left;

                    .user-flex {
                        width: 466px;

                        .user-default {
                            position: relative;
                        }

                        .user-details {
                            width: 233px;
                            position: relative;
                        }

                    }
                }

                .user-info {
                    float: left;
                    width: 233px;
                }



                span {
                    display: inline-block;
                    text-align: left;

                    &.user {
                        float: left;
                        width: 77px;
                        height: 77px;
                    }

                    &.title {
                        width: 66%;
                        max-width: 158px;
                        float: left;
                        font-size: $font10;
                        font-weight: 300;
                        padding-left: 20px;
                        text-transform: capitalize;
                    }
                    &.name {
                        width: 66%;
                        max-width: 158px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-weight: 500;
                        float: left;
                        padding-left: 20px;
                        padding-top: 8px;
                        font-size: $font13;
                        text-transform: uppercase;
                    }
                    &.close,
                    &.bell {
                        font-size: $font20;
                        position: absolute;
                        right: 23px;
                        top: 23px;
                        display: inline-block;
                        cursor: pointer;
                    }

                    &.phone,
                    &.email {
                        clear: both;
                        width: 100%;
                        padding: 8px 0 0 20px;
                    }



                }
            }
        }
    }

    .checkin {
        @include alpha-attribute('background-color', rgba(red, 1), red);
    }

    .info {
        @include alpha-attribute('background-color', rgba(green, 1), green);
    }
}
