.notifications {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #e43331;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    color: white;
}

.slideDownNotify {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.main-container {
    padding: 20px 0;
    text-align: center;

    .map-content {
        overflow: hidden;
        padding-top: 0px;
        margin: 0px;
        height: 40px;
    }

    .logout-icon {
        position: absolute;
        top: 25px;
        left: -18px;
        z-index: 109;
        display: block;
        float: left;
        color: white;
        cursor: pointer;
    }

    h1 {
        margin: 0;
        color: $dark-theme-primary-color;
        font-weight: 100;
        text-transform: uppercase;
        font-size: $font60;
        @include alpha-attribute('background-color', rgba(black, 0.8), white);
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 90px;
        z-index: 1;

        .office-location {
            min-height: 89px;
        }

        @include bp(small) {
            z-index: 105;
        }
        overflow: hidden;
        span:not(:first-of-type) {
            display: inline-block;
            font-size: $font26;
            position: relative;
            top: -65px;
            font-weight: 500;
            clear: both;
            width: 100%;
            &.welcome {
                top: 18px;
                font-weight: 300;
                display: none;
            }
            &.search {
                display: none;
                input {
                    width: 73%;
                    font-size: 1rem;
                    position: relative;
                    top: 14px;
                    padding: 5px;
                    text-align: center;
                    text-transform: uppercase;
                    right: -24px;
                    &::-webkit-input-placeholder {
                       font-family: $fontDefault;
                       font-weight: 300;
                    }

                    &:-moz-placeholder { /* Firefox 18- */
                       font-family: $fontDefault;
                       font-weight: 300;
                    }

                    &::-moz-placeholder {  /* Firefox 19+ */
                       font-family: $fontDefault;
                       font-weight: 300;
                    }

                    &:-ms-input-placeholder {
                       font-family: $fontDefault;
                       font-weight: 300;
                    }
                }
            }
        }
    }

    .landing {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 0;
        background: transparent url(../../assets/images/sapient-logo.png) center 35% no-repeat;
    }

    .section {
        width: 100%;
        height: 72.2%;
        position: absolute;
        top: 139px;
        left: -100%;
        z-index: 101;
        display: block;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }

    .checkin,
    .directory {
        height: 56%;
        padding-bottom: 35px;
        @include alpha-attribute('background-color', rgba(white, 1), white);
        //border-bottom: 25px solid rgba(0,0,0,1);
        ul {
            margin: 0;
            padding: 0 0 0px 0;
            li {
                list-style: none;
                display: block;
                width: 100%;
                clear: both;
                float: left;
                margin: 0 0 -3px 0;
                cursor: pointer;
                position: relative;

                &.active {
                    background-color: #262626;
                    color: #fff;
                    .user {
                        border-right: 10px solid #34b934;
                    }
                }

                &.inactive {
                    background-color: #262626;
                    color: #fff;
                    .user {
                        border-right: 10px solid #ff0000;
                    }
                }

                &.not-home {
                    background-color: #eeeeee;
                    color: #000;
                    .user {
                        border-right: 10px solid #34b934;
                    }

                    &:hover {
                        background-color: #393939;
                        color: #fff;
                    }
                }

                &:hover {
                    background-color: #393939;
                    color: #fff;
                }

                .user-container {
                    overflow: hidden;
                    width: 66%;
                    float: left;

                    .user-flex {
                        width: 466px;

                        .user-default {
                            position: relative;
                        }

                        .user-details {
                            height: 600px;
                            position: fixed;
                            float: none;
                            top: 0px;
                            left: -164px;
                            width: 600px;
                            display: none;
                            z-index: 99999;
                            background-size: cover;

                            @include bp(small) {
                                height: 449px;
                                top: 139px;
                            }

                            a {
                                color: #fff;
                                text-decoration: none;
                            }

                            i {
                                margin-right: 10px;
                                position: relative;
                                top: 2px;
                            }

                            i.icon-close {
                                top: -10px;
                            }

                            span {
                                text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
                            }

                            .name {
                                position: fixed;
                                top: 290px;
                                left: -9px;
                                z-index: 9999;
                                font-size: $font26;
                                max-width: 300px;
                                min-width: 300px;
                                width: 300px;
                                @include bp(small) {
                                    top: 436px;
                                }
                            }

                            .title {
                                position: fixed;
                                top: 331px;
                                left: -7px;
                                z-index: 9999;
                                font-size: $font11;
                                max-width: 320px;
                                min-width: 320px;
                                text-transform: uppercase;
                                font-weight: 500;
                                @include bp(small) {
                                    top: 478px;
                                }
                            }

                            .phone {
                                position: fixed;
                                top: 393px;
                                left: -7px;
                                z-index: 9999;
                                font-size: $font13;
                                max-width: 300px;
                                @include bp(small) {
                                    top: 553px;
                                }
                            }

                            .email {
                                position: fixed;
                                top: 361px;
                                left: -7px;
                                z-index: 9999;
                                font-size: $font13;
                                max-width: 300px;
                                @include bp(small) {
                                    top: 514px;
                                }
                            }

                        }

                    }
                }

                .user-info {
                    float: left;
                    width: 233px;
                    height: 77px;
                }

                span {
                    display: inline-block;
                    text-align: left;

                    &.user {
                        float: left;
                        width: 77px;
                        height: 77px;
                        overflow: hidden;

                        img {
                            width: auto;
                            height: 100%;
                            position: relative;
                            left: -10px;
                        }
                    }

                    &.title {
                        width: 66%;
                        max-width: 158px;
                        float: left;
                        font-size: $font10;
                        font-weight: 300;
                        padding-left: 20px;
                        text-transform: capitalize;
                        height: 31px;
                    }
                    &.name {
                        width: 66%;
                        max-width: 158px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-weight: 500;
                        float: left;
                        padding-left: 20px;
                        padding-top: 8px;
                        font-size: $font13;
                        text-transform: uppercase;
                    }
                    &.close {
                        font-size: $font20;
                        position: absolute;
                        left: 438px;
                        @include bp(small) {
                            left: 485px;
                        }
                        top: 23px;
                        display: inline-block;
                        cursor: pointer;
                    }
                    &.user-info-icon {
                        font-size: $font20;
                        position: absolute;
                        left: 23px;
                        left: calc(100% - 57px);
                        @include bp(small) {
                            left: calc(100% - 30px);
                        }
                        top: 23px;
                        display: inline-block;
                        cursor: pointer;


                    }

                    &.office,
                    &.phone,
                    &.email {
                        clear: both;
                        width: 100%;
                        padding: 0px 0 0 20px;
                    }

                    &.office {
                        text-transform: uppercase;
                    }

                    &.email {
                        padding-top: 8px;
                    }



                }
            }
        }
    }

    .checkin h2 {
        display: none;
    }

    .info {
        #map {
            height: 100%;
        }
    }



}

@include bp(large) {
    .landing,
    .footer,
    .directory {
        display: none !important;
    }

    .checkin {
        display: block !important;
        position: absolute;
        left: 0 !important;
        top: 91px !important;
        width: 100% !important;
        height: 100% !important;
        background-color: black !important;
        .user-container {

        }
        ul li {
            width: 100% !important;
            cursor: none !important;
            &:hover {
                background-color: #262626 !important;
            }
        }

        .user-flex {
            width: 100% !important;
        }

        .user-info {
            width: 100% !important;
        }

        .user-container {
            overflow: inherit !important;
        }

        span.user {
            width: 20% !important;
            height: auto !important;
            overflow: auto !important;
            float: left !important;
        }
        span.user img {
            width: 100% !important;
            height: 50% !important;
            overflow: inherit !important;
        }
        .name {
            font-size: 3rem !important;
            text-overflow: none !important;
            max-width: 100% !important;
            width: 100% !important;
        }
        .title {
            font-size: 2.8rem !important;
            max-width: 100% !important;
            width: 100% !important;
        }
        .user-info-icon {
            display: none !important;
        }

        h2 {
            display: block !important;
            font-size: 4rem;
            color: white;
            text-transform: uppercase;
        }
    }
}
