.main-container {
    padding: 20px 0;
    text-align: center;

    h1 {
        margin: 0;
        color: $dark-theme-primary-color;
        font-weight: 100;
        text-transform: uppercase;
        font-size: $font60;
        @include alpha-attribute('background-color', rgba(black, 0.8), white);
        position: fixed;
        top: 0;
        width: 100%;
        height: 90px;
        z-index: 0;
        overflow: hidden;
        span {
            display: inline-block;
            font-size: $font26;
            position: relative;
            top: -65px;
            font-weight: 500;
            clear: both;
            width: 100%;
            &.welcome {
                top: 18px;
                font-weight: 300;
            }
            &.search {
                display: none;
                input {
                    width: 90%;
                    font-size: $font13;
                    position: relative;
                    top: 14px;
                    padding: 5px;
                    text-align: center;
                    text-transform: uppercase;
                    &::-webkit-input-placeholder {
                       font-family: $fontDefault;
                       font-weight: 300;
                    }

                    &:-moz-placeholder { /* Firefox 18- */
                       font-family: $fontDefault;
                       font-weight: 300;
                    }

                    &::-moz-placeholder {  /* Firefox 19+ */
                       font-family: $fontDefault;
                       font-weight: 300;
                    }

                    &:-ms-input-placeholder {
                       font-family: $fontDefault;
                       font-weight: 300;
                    }
                }
            }
        }
    }

    .landing {
        width: 100%;
        height: 72%;
        position: absolute;
        top: 82px;
        left: 0;
        z-index: 0;
        background: transparent url(../../assets/images/sapient-logo.png) center 35% no-repeat;
    }

    .section {
        width: 100%;
        height: 72.2%;
        position: absolute;
        top: 139px;
        left: -100%;
        z-index: 101;
        display: block;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }

    .directory {
        height: 56%;
        padding-bottom: 35px;
        @include alpha-attribute('background-color', rgba(white, 1), white);
        //border-bottom: 25px solid rgba(0,0,0,1);
        ul {
            margin: 0;
            padding: 0 0 0px 0;
            li {
                list-style: none;
                display: block;
                width: 100%;
                clear: both;
                float: left;
                margin: 0 0 -3px 0;
                cursor: pointer;
                position: relative;

                &.active {
                    background-color: #262626;
                    color: #fff;
                    .user {
                        border-right: 10px solid #34b934;
                    }
                }

                &.inactive {
                    background-color: #262626;
                    color: #fff;
                    .user {
                        border-right: 10px solid #ff0000;
                    }
                }

                &.not-home {
                    background-color: #eeeeee;
                    color: #000;
                    .user {
                        border-right: 10px solid #34b934;
                    }

                    &:hover {
                        background-color: #393939;
                        color: #fff;
                    }
                }

                &:hover {
                    background-color: #393939;
                    color: #fff;
                }

                .user-container {
                    overflow: hidden;
                    width: 66%;
                    float: left;

                    .user-flex {
                        width: 466px;

                        .user-default {
                            position: relative;
                        }

                        .user-details {
                            height: 600px;
                            position: fixed;
                            float: none;
                            top: 0px;
                            left: -164px;
                            width: 500px;
                            display: none;
                            z-index: 99999;

                            a {
                                color: #fff;
                                text-decoration: none;
                            }

                            i {
                                margin-right: 10px;
                                position: relative;
                                top: 2px;
                            }

                            i.icon-close {
                                top: -10px;
                            }

                            span {
                                text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
                            }

                            .name {
                                position: fixed;
                                bottom: 86px;
                                left: -9px;
                                z-index: 9999;
                                font-size: $font26;
                                max-width: 300px;
                                min-width: 300px;
                                width: 300px;
                            }

                            .title {
                                position: fixed;
                                bottom: 59px;
                                left: -7px;
                                z-index: 9999;
                                font-size: $font11;
                                max-width: 320px;
                                min-width: 320px;
                                text-transform: uppercase;
                                font-weight: 500;
                            }

                            .phone {
                                position: fixed;
                                bottom: 13px;
                                left: -7px;
                                z-index: 9999;
                                font-size: $font13;
                                max-width: 300px;
                            }

                            .email {
                                position: fixed;
                                bottom: 39px;
                                left: -7px;
                                z-index: 9999;
                                font-size: $font13;
                                max-width: 300px;
                            }

                        }

                    }
                }

                .user-info {
                    float: left;
                    width: 233px;
                    height: 77px;
                }



                span {
                    display: inline-block;
                    text-align: left;

                    &.user {
                        float: left;
                        width: 77px;
                        height: 77px;
                        overflow: hidden;
                        img {
                            width: auto;
                            height: 100%;
                            position: relative;
                            left: -10px;
                        }
                    }

                    &.title {
                        width: 66%;
                        max-width: 158px;
                        float: left;
                        font-size: $font10;
                        font-weight: 300;
                        padding-left: 20px;
                        text-transform: capitalize;
                        height: 31px;
                    }
                    &.name {
                        width: 66%;
                        max-width: 158px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-weight: 500;
                        float: left;
                        padding-left: 20px;
                        padding-top: 8px;
                        font-size: $font13;
                        text-transform: uppercase;
                    }
                    &.close,
                    &.bell {
                        font-size: $font20;
                        position: absolute;
                        right: 23px;
                        top: 23px;
                        display: inline-block;
                        cursor: pointer;
                    }

                    &.office,
                    &.phone,
                    &.email {
                        clear: both;
                        width: 100%;
                        padding: 0px 0 0 20px;
                    }

                    &.office {
                        text-transform: uppercase;
                    }

                    &.email {
                        padding-top: 8px;
                    }



                }
            }
        }
    }

    .checkin {
        @include alpha-attribute('background-color', rgba(red, 1), red);
    }

    .info {
        @include alpha-attribute('background-color', rgba(green, 1), green);
    }
}
