.settings-nav-icon {
	background-color: $black-theme-back;
    display: table-cell;
    width: 60px;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
	vertical-align: middle;

	.icon {
		color: $dark-theme-primary-color;
		font-size: 1.5em;
		vertical-align: middle;
	}
}